<div class="detail_job_info">
    <div class="job_name">
        <span>项目经理</span>
    </div>
    <div class="text_item flex_wrap">
        <div class="flex_con"><i class="d_icon salary_i"></i><span>8k-15k</span></div>
        <div class="flex_con"><i class="d_icon address_i"></i><span>北京</span></div>
        <div class="flex_con"><i class="d_icon j_type_i"></i><span>全职</span></div>
    </div>
    <div class="text_item flex_wrap">
        <div class="flex_con"><i class="d_icon exp_i"></i><span>3-5年</span></div>
        <div class="flex_con"><i class="d_icon edu_i"></i><span>本科以上</span></div>
        <div class="flex_con"></div>
    </div>
    <div class="job_tips">职位诱惑：五险一金，各种补贴，免费领是</div>
</div>
