.foot{
    width: 100%;
    height: 48/@rem;
    background-color: #fff;
    border-top: 1px solid #eee;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    .foot_nav{
        width: 100%;
        height: 100%;
        .nav_item.active{
            background:#fdfafa;
            color: @defaultColor;
            i.home_i{
                background:url('../image/home_i_active.png') center 0 no-repeat;
                background-size: 26/@rem 26/@rem;
            }
            i.search_i{
                background:url('../image/search_i_active.png') center 2/@rem no-repeat;
                background-size: 24/@rem 24/@rem;
            }
            i.user_i{
                background:url('../image/user_i_active.png') center 0 no-repeat;
                background-size: 24/@rem 24/@rem;
            }
        }
        .nav_item{
            height: 100%;
            line-height: 48/@rem;
            text-align: center;
            font-size: 16/@rem;
            line-height: 48/@rem;
            div{
                display: inline-block;
            }
            i{
                width: 30/@rem;
                height: 30/@rem;
                display: block;
                float: left;
                margin:9/@rem 0;
            }
            i.home_i{
                background:url('../image/home_i.png') center 0 no-repeat;
                background-size: 26/@rem 26/@rem;
            }
            i.search_i{
                background:url('../image/search_i.png') center 2/@rem no-repeat;
                background-size: 24/@rem 24/@rem;
            }
            i.user_i{
                background:url('../image/user_i.png') center 0 no-repeat;
                background-size: 24/@rem 24/@rem;
            }
            span{
                display: inline;
            }
        }
    }
}